/* Obsolete -- This was used to do an overlay (text overlay) of another div (an image)
https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div
.container {
  height: 20rem;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5rem;
  left: 5rem;
} */

/* https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flipCard {
  background-color: transparent;
  width: 500px;
  height: 500px;
  perspective: 1000px;
}

.flipCard:focus {
  outline-width: 0; /* https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: transform 0.6s;
  -moz-transition: transform 0.6s;
  -ms-transition: transform 0.6s;
  -o-transition: transform 0.6s;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 50px 8px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 50px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 50px 8px rgba(0, 0, 0, 0.2);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  background-color: #bbb;
  color: black;
}

.flipCardBack {
  background-color: #ea9dc0;
  color: #23305c;
  font-weight: 500;
  transform: rotateX(180deg);
  overflow-y: auto;

  /* Prevent user select */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.previewMessage {
  padding: 1rem;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}
